@import "./libs/normilize/normilize.css";
@import "./fonts.css";
@import "./libs/owl/owl.carousel.min.css";
@import "./libs/owl/owl.theme.default.min.css";
@import "./libs/fancyBox/jquery.fancybox.min.css";

body {background-color: #000000;}

body.hidden {overflow: hidden;}

.main {
	position: relative;
	height: 100%;
	overflow-y: hidden;
}

.wrapper {
	width: 100%;
	max-width: 1775px;
	margin: 0 auto;
	padding: 0 20px;
}

.wrapper-xl {
	max-width: 1920px;
	padding: 0;
}


.section {
	position: relative;
	z-index: 2;
}

.section-bg {
	background-repeat: no-repeat;
	background-size: cover;
}

.section-lines {
    position: absolute;
    z-index: 2;
    top: 550px;
    right: 107px;
    right: 110px;
    width: 100%;
    height: 100%;
    max-width: 847px;
}


.section-lines img {
    position: relative;
    opacity: 0.5;
    width: 100%;
}

.section-cnt {
	position: relative;
	z-index: 4;	
}

header {
	position: relative;
	z-index: 10;
	padding: 35px 0;
	background-color: #111111;
	box-shadow: 0 0 10px rgba(211, 211, 211, 0.15);
}

.header-wrap.fixed {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 8;
	width: 100%;
}

header .wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header .logo {
    width: 100%;
    max-width: 158px;
    margin-right: 54px;
}

header .logo img {width: 100%;}

nav {
	display: flex;
	align-items: center;
	justify-content: center;
}

nav a {
	position: relative;
	display: block;
	padding-left: 15px;
    font-family: 'Montserrat Bold';
	font-size: 18px;
	line-height: 18px;
	color: #FFFFFF;
	text-transform: uppercase;
}

nav a::before {
	content: '/';
	position: absolute;
	left: 0;
	top: 0;
	font-family: 'Montserrat Bold';
	font-size: 18px;
	line-height: 18px;
	color: #003cff;
	text-transform: uppercase;
	transition: 0.3s ease;
	opacity: 0;
}

nav a:hover::before {opacity: 1;}

nav a:not(:last-child) {margin-right: 10px;}

.header-triggers {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 10px;
}

.header-tel {
	display: block;
	margin-right: 58px;
	font-family: 'Montserrat Bold';
	font-size: 18px;
	line-height: 18px;
	color: #003cff;
	transition: 0.3s ease;
}

.header-tel:hover {color: #FFFFFF;}

.btn {
	display: inline-block;
	height: 64px;	
	font-family: 'Montserrat Bold';
	font-size: 17px;
	line-height: 52px;
	padding: 0 48px;
	text-transform: uppercase;
	color: #ffffff;
	transition: 0.3s ease;
	border: 6px solid #003cff;
	background-color: #003cff;
}

.btn.btn-big {
	height: 84px;
	padding: 0 40px;
	font-size: 22px;
	line-height: 72px;
}

.btn.btn-border {background-color: transparent;}

.btn:hover {background-color: transparent;}

.btn.btn-border:hover {background-color: #003cff;}

.banner {
	position: relative;
	padding: 204px 0 0;
}

.banner-cnt {
	width: 100%;
	max-width: 900px;
}

h1 {
	margin-bottom: 17px;
    font-family: 'Montserrat Bold';
    font-size: 72px;
    line-height: 86px;
    color: #ffffff;
}

.banner-cnt p {
    margin-bottom: 30px;
    font-family: 'Montserrat Bold';
    font-size: 40px;
    line-height: 50px;
    color: #ffffff;
} 

.banner .flash-line {
    position: absolute;
    z-index: 2;
    top: -123px;
    left: 3px;
    width: 100%;
    max-width: 450px;
}

.flash-line img {width: 100%;}



.benefits {
	display: flex;
    justify-content: space-between;
    padding: 148px 0 15px;
}

.benefits p {
	position: relative;
	max-width: 400px;
	padding: 20px 10px;
	font-family: 'Montserrat Medium';
	font-size: 18px;
	line-height: 22px;
	color: #ffffff;
	text-align: center;
}

.benefits p::before,
.benefits p::after {
	content: '';
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	width: 62px;
	height: 16px;
	background-size: contain;
	background-repeat: no-repeat;
}

.benefits p::before {
	top: 0;
	background-image: url('../images/bnf-top.png');
}

.benefits p::after {
	bottom: 0;
	background-image: url('../images/bnf-bottom.png');
}



.contacts .wrapper {
	display: flex;
	justify-content: space-between;
	max-width: 100%;
	padding: 0;
}

.contacts-cnt {
	width: 100%;
	max-width: 640px;
	padding: 80px 0 60px;
}

.contacts h4 {
	margin-bottom: 60px;
	padding-left: 120px;
    font-family: 'Montserrat Bold';
    font-size: 55px;
    line-height: 60px;
    color: #ffffff;
}

.contacts-row {
	position: relative;
	display: block;
	margin-bottom: 40px;
	padding-left: 120px;
    font-family: 'Montserrat Bold';
    font-size: 30px;
    line-height: 30px;
	color: #ffffff;
	transition: 0.3s ease;
}

a.contacts-row:hover {color: #003cff;}


.contacts-row::before {
	content: '';
	position: absolute;
	top: 13px;
	left: 0;
	display: block;
	width: 93px;
	height: 3px;
	background-color: #003cff;
}

.social {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.contacts .social {padding-left: 120px;}


.social a:not(:last-child) {margin-right: 25px;}

.social a,
.social a img,
.contacts-map,
.contacts-map img {width: 100%;}

.social a.telegram {max-width: 55px;}
.social a.facebook,
.social a.instagram {max-width: 47px;}

.contacts-map {display: block;}

.brands {padding: 45px 0 136px;}

.brand {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	width: 100%;
	max-width: 300px;
}

.brand-img {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 235px;
	height: 212px;
	margin-bottom: 20px;
}

.brand-img img,
.brand-name img {
	width: auto !important;
	max-width: 100%;
}

.brand-name {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
}

.brand-name-4 {margin-top: -33px;}

.form-section {padding: 0 0 94px;}

.form-section .wrapper {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.form-text {
    width: 100%;
    max-width: 739px;
    padding-right: 10px;
}

.form-text h5 {
	margin-bottom: 20px;
	font-family: 'Montserrat Bold';
    font-size: 30px;
    line-height: 36px;
	color: #ffffff;
}

.form-text p {
	font-family: 'Montserrat Bold';
    font-size: 18px;
    line-height: 24px;
	color: #003cff;
}

.form-section form {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-flow: row wrap;
	width: 100%;
	max-width: 825px;
}

.field {
	width: 100%;
	max-width: 404px;
	height: 65px;
	padding-left: 25px;
    font-family: 'Montserrat Medium';
    font-size: 20px;
    line-height: 20px;
	color: rgba(255, 255, 255, 0.66);
	background-color: transparent;
	border: 6px solid #003cff;
	transition: 0.3s ease;
}

.field.error {border: 6px solid red;}

.form-section .field,
.form-section .custom-select,
.form-section .btn {margin-bottom: 15px;}

.form-section::before {
	content: '';
    position: absolute;
    bottom: -17px;
    right: 308px;
    z-index: 2;
    width: 446px;
    height: 753px;
    background-image: url(../images/line-2.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.form-section-lines img {width: 100%;}


.custom-select {
	position: relative;
    font-family: 'Montserrat Medium';
    font-size: 20px;
    line-height: 20px;
	color: rgba(255, 255, 255, 0.66);
	width: 100%;
    max-width: 404px;
}
  
.custom-select select {display: none; }
  
.select-selected {
	display: flex;
    align-items: center;
    padding-left: 25px;
    background-color: transparent;
    border: 6px solid #003cff !important;
    height: 65px;
	color: rgba(255, 255, 255, 0.66);
}
  
.select-selected:after {
    position: absolute;
    content: "";
    top: 29px;
    right: 22px;
    width: 12px;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}
  
.select-selected.select-arrow-active:after {
	border-color: transparent transparent #fff transparent;
    top: 23px;
}
  
.select-items div,.select-selected {
	color: #ffffff;
	padding: 8px 16px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
}
  
.select-items {
	position: absolute;
	background-color: #003cff;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
}
  
.select-hide {
	display: none;
}
  
.select-items div:hover, .same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
}

.info-section {
	position: relative;
    padding: 50px 0 230px;
    background-position: top -30px left;
}

.info-section .wrapper {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
}

.info-section-cnt {
	width: 100%;
	max-width: 730px;
}


.info-section-cnt p {
    font-family: 'Montserrat Black';
    font-size: 18px;
	line-height: 33px;
	text-transform: uppercase;
	color: #fff;
}

.info-section-cnt p:not(:last-child) {margin-bottom: 45px;}

.info-section-cnt p span {color: #003cff;}

.info-section-cnt .info-section-text {font-size: 24px;}

.info-section::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 56%;
    transform: translateX(-50%);
    z-index: 2;
    width: 326px;
    max-width: 100%;
    height: 546px;
    background-image: url(../images/line-3.png);
    background-repeat: no-repeat;
    background-size: contain;
}



.title {
	margin-bottom: 15px;
	font-family: 'Montserrat Bold';
    font-size: 55px;
	line-height: 65px;
	text-align: center;
	color: #fff;
}

.subtitle {
	margin-bottom: 45px;
	font-family: 'Montserrat Bold';
    font-size: 18px;
	line-height: 26px;
	text-align: center;
	color: #003cff;
}

.better {
	position: relative;
    padding-bottom: 260px;
}

.better::before {
    content: '';
    position: absolute;
    bottom: -67px;
    left: 261px;
    z-index: 1;
    width: 1615px;
    max-width: 100%;
    height: 688px;
    background-image: url(../images/line-4.png);
    background-repeat: no-repeat;
    background-size: contain;
}



.better-list {
	position: relative;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 0 150px 0 0px;
}

.better-img {
    position: absolute;
    top: -122px;
    left: calc(50% - 28px);
    transform: translateX(-50%);
    width: 100%;
    max-width: 835px;
}

.better-img img {width: 100%;}

.better-column {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    max-width: 570px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.better-column li {
	position: relative;
    width: 100%;
    font-family: 'Montserrat Bold';
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #fff;
}

.better-column li p {
	position: relative;
	z-index: 2;
}

.better-column li:not(:last-child) {margin-bottom: 44px;}

.better-column li:nth-child(odd)::before {
	content: '';
    position: absolute;
    z-index: 1;
    top: 10px;
    display: block;
    width: 11px;
    height: 11px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 94px 10px #003cff;
}

.better-column-2 {
	align-items: flex-end;
    max-width: 452px;
}

.better-column-1 li {
	padding-right: 24px;
	text-align: right;
}

.better-column-1 li:nth-child(odd)::before {right: 0;}

.better-column-2 li {
	padding-left: 24px;
	text-align: left;
}

.better-column-2 li:nth-child(odd)::before {left: 0;}

.better-column-1 .better-row-2 {max-width: 478px;}
.better-column-1 .better-row-3 {max-width: 422px;}
.better-column-1 .better-row-4 {max-width: 362px;}
.better-column-1 .better-row-5 {max-width: 422px;}
.better-column-1 .better-row-6 {max-width: 478px;}

.better-column-2 .better-row-2 {max-width: 394px;}
.better-column-2 .better-row-3 {max-width: 338px;}
.better-column-2 .better-row-4 {max-width: 295px;}
.better-column-2 .better-row-5 {max-width: 342px;}
.better-column-2 .better-row-6 {max-width: 402px;}

.recomendation {
	position: relative;
    padding-bottom: 50px;
}

.recomendation .wrapper{padding: 70px 20px 0;}

.recomendation .title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.recomendation-slider {
	width: 100%;
	max-width: 1510px;
	margin: 0 auto;
}

.recomendation-item {
	position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    max-width: 310px;
    min-height: 394px;
}

.recomendation-item::before {
	content: '';
    position: absolute;
    top: -60px;
    left: calc(50% - 53px);
    display: block;
    width: 106px;
    height: 338px;
    background-image: url(../images/rec-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.recomendation-item-cnt {
	position: relative;
	z-index: 3;
	height: 173px;
	padding: 40px 5px 32px;
	border: 6px solid rgba(0, 60, 255, 0.44);
}

.recomendation-item-cnt p {
	font-family: 'Montserrat Bold';
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #fff;
}

.recomendation-item-cnt img {
	display: block;
	margin-bottom: 4px;
	width: 100% !important;
}

.recomendation-img {
    position: absolute;
    z-index: 4;
    top: 83px;
    left: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 216px;
    width: 100%;
}

.recomendation-img img {
	max-width: 100%;
	width: auto !important;
}


.questions {
	padding: 60px 0 70px;
    background-position: top -286px left 0;
}

.questions-row-wrap {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
}

.questions-row-wrap-2 {
	justify-content: flex-start;
    margin-top: -135px;
}

.questions-row {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
}

.questions-row-1 {max-width: 1430px;}

.questions-row-2 {max-width: 1290px;}

.questions-list {padding-bottom: 50px;}

.question {
	position: relative;
	width: 100%;
	max-width: 600px;
	padding: 100px 10px 20px;
}

.question-3 {max-width:440px;}

.questions-title {
	position: relative;
	z-index: 3;
	margin-bottom: 36px;
	font-family: 'Montserrat Bold';
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: #fff;
}

.question p {
	position: relative;
	z-index: 3;
	font-family: 'Montserrat Bold';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #fff;
}

.question-img {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateX(-50%);
}

.question-img img {max-width: 100%;}

.question-form {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.question-form h4 {margin-bottom: 10px;}
.question-form .form-text {max-width: 550px;}

.question-form form {
	display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 100%;
}

.question-form form .field {margin-right: 35px;}

.about {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.about-img {
	width: 100%;
	max-width: 960px;
	margin-right: 50px;
}

.about-img img {width: 100%;}

.about-cnt {
	width: 100%;
    max-width: 875px;
    padding-right: 20px;
    padding-bottom: 101px;
}

.about-cnt .title {
	margin-bottom: 40px;
	text-align: left;
}

.about-cnt p {
    font-family: 'Montserrat Bold';
    font-size: 24px;
    line-height: 35px;
    color: #fff;
}

.about-cnt p:not(:last-child) {margin-bottom: 40px;}

.services-list {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	width: 100%;
}

.services .title {margin-bottom: 95px;}

.service-item {
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc((100% / 3) - 2px);
	height: 440px;
	margin-bottom: 2px;
	padding: 10px 5px;
	transition: 0.3s ease;
}

.service-item p {
	position: relative;
	z-index: 2;
	font-family: 'Montserrat Bold';
    font-size: 36px;
	line-height: 46px;
	text-align: center;
    color: #fff;
}

.service-item::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.3s ease;
    opacity: 0;
}

.service-item:hover::before {opacity: 1;}


.accordion {padding: 82px 0 0;}

.accordion .title {margin-bottom: 60px;}

.accordion-item {margin-bottom: 2px;}


.accordion-title {
	cursor: pointer;
    width: 100%;
    padding: 50px 0;
    font-family: 'Montserrat Bold';
    font-size: 36px;
    line-height: 46px;
    color: #fff;
    transition: 0.3s ease;
    background-color: #111111;
}

.accordion-title .wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.accordion-item:hover .accordion-title,
.accordion-item.open .accordion-title   {background-color: rgba(0, 60, 255, 1);}

.accordion-cnt {
	display: none;
	width: 100%;
	padding: 40px 0;
    font-family: 'Montserrat SemiBold';
    font-size: 24px;
	line-height: 30px;
	color: #fff;
	background-color: rgba(0, 60, 255, 0.4);
}


.accordion-arrow {
	display: block;
    width: 24px;
    height: 13px;
	margin-left: 15px;
	transition: 0.3s ease;
}

.accordion-item.open .accordion-arrow {transform: rotate(180deg);}


.blog {padding: 0 0 118px;}

.blog .title {margin-bottom: 62px;}

.blog-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.blog-slider,
.blog-item {
	width: 100%;
	max-width: 960px;
}

.blog-title {
	padding-left: 200px;
	font-family: 'Montserrat Bold';
    font-size: 60px;
	line-height: 45px;
	text-transform: uppercase;
	color: #003cff;
}


.blog-cnt {
	padding-left: 200px;
	padding: 43px 20px 35px 200px;
	background-color: #111111;
}

.blog-cnt p {
	margin-bottom: 50px;
    font-family: 'Montserrat SemiBold';
    font-size: 22px;
	line-height: 34px;
	color: #ffffff;
}

.blog-img {
	position: relative;
	width: 100%;
	max-width: 960px;
}

.blog-img::before {
    content: '';
    position: absolute;
    z-index: 2;
    top: -6px;
    left: -6px;
    display: block;
    width: 100%;
    max-width: 264px;
    height: 197px;
    border: 6px solid #003cff;
}

.blog-img img {
	position: relative;
	z-index: 3;
	width: 100%;
}

.slider .owl-nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	padding: 30px 40px 10px;
}


.slider .owl-nav button span {display: none;}

.slider .owl-nav button {
	display: block;
	width: 19px;
	height: 34px;
	background-image: url('../images/arrow-blue.png') !important; 
	background-repeat: no-repeat !important; 
	background-position: center !important; 
	background-size: contain !important; 
}

.slider .owl-nav button:not(:last-child) {margin-right: 55px;}

.slider .owl-nav button.owl-next {transform: rotate(180deg);}

.work {margin-top: -125px;}

.work .title {margin-bottom: 60px;}

.work-slider {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto 62px;
}

.work-item {
	width: 100%;
	max-width: 638px;
	margin-bottom: 25px;
}

.work-item-img {
	position: relative;
    z-index: 1;
	width: 100%;
	height: 430px;
}

.work-item-img img {width: 100%;}

.work-cnt {
	position: relative;
    z-index: 2;
	width: 100%;
	max-width: 513px;
	margin: -20px auto 0;
	padding: 20px 20px 0;
	background-color: #003cff;
}

.work-name {
	height: 120px;
	margin-bottom: 10px;
	display: -webkit-box;
    -webkit-line-clamp: 4;
    overflow: hidden;
    -webkit-box-orient: vertical;
    font-family: 'Montserrat Bold';
    font-size: 25px;
	line-height: 30px;
	text-align: center;
	color: #ffffff;
}

.work-cnt p {
	height: 50px;
	margin-bottom: 10px;
	display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
    font-family: 'Montserrat SemiBold';
    font-size: 20px;
	line-height: 25px;
	text-align: center;
	color: #ffffff;
}

.work-time {
	height: 20px;
	display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;
    font-family: 'Montserrat SemiBold';
    font-size: 20px;
	line-height: 20px;
	text-align: center;
	color: #ffffff;
}

.work-cnt .btn {
	display: flex;
    align-items: center;
    justify-content: center;
    max-width: 227px;
    margin: 0 auto;
    font-size: 13px;
    line-height: 39px;
    height: 50px;
    transform: translateY(25px);
    background-color: #000000 !important;
}

.form-work {padding-bottom: 77px;}

.form-work form {    
	justify-content: flex-end;
	max-width: 850px;
}

.form-work form .field {margin-right: 10px;}

.form-work.form-section::before {
	top: -75px;
    left: 18px;
    width: 276px;
    height: 441px;
    background-image: url(../images/line-5.png);
}



.equipment .title {margin-bottom: 35px;}

.equipment-list {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-flow: row wrap;
}

.equipment-list img {
	max-width: 100%;
	margin-bottom: 20px;
}

.reviews-slider {
	width: 100%;
	padding: 0 120px;
}

.rev {
	width: 100%;
	max-width: 1495px;
}

.rev-info {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 25px;
}


.rev-img {
	position: relative;
	width: 100%;
	max-width: 390px;
	margin-right: 90px;
	padding: 35px 0 0 65px;
}

.rev-img img {
	position: relative;
	z-index: 2;
	width: 100%;
}

.rev-img::before {
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	max-width: 230px;
	height: 210px;
	max-height: 100%;
	border: 6px solid #003cff;
}

.rev-name {
	margin-bottom: 25px;
	font-family: 'Montserrat SemiBold';
    font-size: 48px;
	line-height: 58px;
	color: #003cff;
}

.rev-cnt p {
	margin-bottom: 45px;
	font-family: 'Montserrat SemiBold';
    font-size: 18px;
	line-height: 28px;
	color: #FFFFFF;
}

.rev-link {
	display: block;
	width: 100%;
	max-width: 53px;
	min-width: 53px;
	height: 53px;
}

.rev-link img {width: 100%;}

.reviews-slider .owl-nav {padding: 0;}
.reviews-slider .owl-nav button {
	position: absolute;
	top: calc(50% - 17px);
	margin: 0 !important;
}

.reviews-slider .owl-nav button.owl-next {right: 0;}
.reviews-slider .owl-nav button.owl-prev {left: 0;}

.reviews-section {padding-bottom: 177px;}

.installer {
    position: relative;
    padding-bottom: 50px;
    background-position: top -200px left;
    background-size: cover;
}

.installer::before {
    content: '';
    position: absolute;
    bottom: -182px;
    left: calc(50% - 96px);
    z-index: 2;
    width: 449px;
    max-width: 100%;
    height: 622px;
    background-image: url(../images/line-6.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.installer-pc,
.installer-pc img {width: 100%;}

.installer-mob {
	display: none;
}

.defence {
	position: relative;
	padding-bottom: 10px;
}

.defence::before {
    content: '';
    position: absolute;
    bottom: 47px;
    left: calc(50% - 267px);
    z-index: 2;
    width: 401px;
    max-width: 100%;
    height: 463px;
    background-image: url(../images/line-8.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.defence .title {margin-bottom: 50px;}

.defence-list {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-flow: row wrap;
}

.defence-item {
	display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 420px;
    height: 420px;
}

.defence-item::before {
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-image: url('../images/romb.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.defence-item-layout {
	position: relative;
	z-index: 2;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.defence-num {
    margin-right: 15px;
    font-family: 'Montserrat Bold';
    font-size: 80px;
    line-height: 72px;
    white-space: nowrap;
    color: #003cff;
}

.defenct-cnt p {
    display: block;
    font-family: 'Montserrat Bold';
    font-size: 26px;
    line-height: 32px;
    color: #ffffff;
}

.defenct-cnt span {
	display: block;
    padding-top: 5px;
    font-family: 'Montserrat SemiBold';
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
}

.defence-item::after {
	content: '';
	position: absolute;
	display: block;
	bottom: 75px;
    right: 75px;
	width: 41px;
	height: 43px;
	background-image: url('../images/triangle.png');
	background-repeat: no-repeat;
	background-size: contain;
}

.defence-item.defence-item-2::after,
.defence-item.defence-item-5::after {
	top: 70px;
    right: 80px;
    bottom: auto;
    transform: rotate(270deg);
}

.defence-item-1 {
	order: 1;
	margin-right: 80px;
}
.defence-item-2 {
    order: 3;
    margin: -170px 80px 0 250px;
}
.defence-item-3 {
	order: 2;
	margin-right: 400px;
}
.defence-item-4 {
	order: 4;
	margin: -170px 80px 0 0;
}
.defence-item-5 {
	margin: -170px 315px 0 auto;
	order: 6;
}
.defence-item-6 {
	margin: -170px 0 0 0;
	order: 5;
}

.defence-item-6::after {display: none;}

.defence .btn {
	display: flex;
    align-items: center;
    justify-content: center;
    max-width: 375px;
    height: 84px;
    font-size: 21px;
    line-height: 72px;
    padding: 0 10px;
    margin: -121px auto 0;
}



.packages {
    position: relative;
    padding: 66px 0 30px;
    overflow-x: hidden;
}

.packages::before {
	content: '';
    position: absolute;
    top: -149px;
    right: -15px;
    z-index: 2;
    width: 408px;
    max-width: 100%;
    height: 553px;
    background-image: url(../images/spy.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.packages .wrapper {
    max-width: 1460px;
    padding:  0 20px;
}

.packages .title {margin-bottom: 3px;}

.packages .subtitle {
    margin-bottom: 62px;
}

.packages-items {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-flow: row wrap;
}

.package {
    width: 100%;
    max-width: 434px;
    margin-bottom: 80px;
}

.package-title p  {
    margin-bottom: 0;
    font-family: 'Montserrat Bold';
    font-size: 18px;
    line-height: 18px;
    color: #003cff;
    text-transform: uppercase;
}

.package-title h5  {
	font-family: 'Montserrat Bold';
    font-size: 90px;
    line-height: 72px;
    color: #ffffff;
}

.package-list {
	position: relative;
    margin: 0 0 31px;
    padding: 68px 20px 10px 20px;
    width: 100%;
    height: 656px;
    list-style: none;
    transition: 0.2s ease;
    background-color: #003cff;
}

.package-list::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 42px;
	height: 42px;
	background-color: #000000;
	clip-path: polygon(0 0, 100% 100%, 0 100%);
}



.package-list li {
    position: relative;
    padding-left: 44px; 
	font-family: 'Montserrat Bold';
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
	opacity: 0.3;
}

.package-list li.active {opacity: 1;}

.package-list li:not(:last-child) {margin-bottom: 24px;}

.package-list li::before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    display: block;
    width: 32px;
    height: 26px;
    background-image: url('../images/cheecker.png');
    background-repeat: no-repeat;
    background-position: center;
	background-size: contain;
	opacity: 0;
}

.package-list li.active::before {opacity: 1;}

.package-price  {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 25px;
}

.package-price p {
	font-family: 'Montserrat Bold';
    font-size: 30px;
    line-height: 24px;
    color: #ffffff;
}

.package-price p span {font-size: 60px;}

.package .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 318px;
    height: 60px;
    font-size: 16px;
    text-align: center;
    line-height: 45px;
    padding: 0 15px;
    margin: 0 0 0 auto;
}



.popup-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	padding: 15px 0;
	opacity: 0;
	z-index: -5;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.5s ease;
}

.popup-wrapper.active {
	opacity: 1;
	z-index: 15;
}

.popup-layout {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	padding: 40px 20px;
	z-index: 6;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	overflow-y: scroll;
	background: rgba(0, 0, 0, 0.4);
}

.info-popup .popup-bg {max-width: 1702px;}

.popup-bg {
	position: relative;
	z-index: 1;
	padding: 20px;
	width: 100%;
	max-width: 680px;
}

.popup-bg::before,
.popup-bg::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 116px;
	height: 116px;
	background-color: #003cff;
}

.popup-bg::after {
	top: auto;
	left: auto;
	right: 0;
	bottom: 0;
}

.popup {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 640px;
  padding: 70px 35px 35px;
  background: #2A2A2A;
}

.popup-img {
	width: 100%;
	max-width: 775px;
	margin-right: 30px;
}

.popup-img img {width: 100%;}

.info-popup .popup-title,
.info-popup .popup-subtitle {text-align: left;}


.info-popup .popup-cnt {
	width: 100%;
	max-width: 770px;
}

.info-popup .popup {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	max-width: 1662px;
}

.popup-title {
	margin-bottom: 10px;
	font-family: 'Montserrat Bold';
    font-size: 36px;
	line-height: 46px;
	text-align: center;
    color: #ffffff;
}

.popup-subtitle {
	margin-bottom: 15px;
	font-family: 'Montserrat SemiBold';
    font-size: 18px;
	line-height: 36px;
	text-align: center;
    color: #ffffff;
}

.popup .field {
    display: block;
    width: 100%;
    max-width: 405px;
    margin: 0 auto 10px;
}

.popup .social {
	padding: 5px 0 20px;
    justify-content: center;
}

.popup .btn {
	margin: 0 auto;
    display: inherit;
}

.popup-close {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 12px;
    width: 100%;
    max-width: 30px;
}

.popup-close img {width: 100%;}

.main  {overflow-x: hidden;}

.header-mob {display: none;}


.header-mob-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 20px;
	width: 100%;
	background-color: #111111;
}

.header-mob-top .logo {
	width: 100%;
    max-width: 75px;
    margin-right: 37px;
}

.header-mob-top .logo img,
.nav-trigger img {width: 100%;}


.header-mob-top .social a.telegram{max-width: 30px;}
.header-mob-top .social a.facebook{max-width: 26px;}
.header-mob-top .social a.instagram{max-width: 26px;}

.header-mob-top .social a:not(:last-child) {margin-right: 15px;}

.header-mob .btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 100%;
	height: 37px;
	font-size: 10px;
	line-height: 10px;
}

.nav-trigger {
	display: block;
	width: 34px;
	height: 25px;
}



.menu-trigger {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    width: 34px;
    height: 25px;
	transition: 0.6s ease;
}

.menu-trigger span {
	display: block;
	width: 100%;
	height: 5px;
	background-color: #ffffff;
	transition: 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.header-wrap.open .menu-trigger span {
	position: relative;
	width: 100%;
}

.header-wrap.open .menu-trigger  {justify-content: center;}

.header-wrap.open .menu-trigger span:nth-child(1) {
	transform: rotate(-40deg);
    margin-bottom: -5px;
}

.header-wrap.open .menu-trigger span:nth-child(2) {display: none;}

.header-wrap.open .menu-trigger span:nth-child(3) {transform: rotate(40deg);}






@media(max-width: 1800px) {
	.banner .flash-line {
		left: 123px;
	}
	.defence-item-5 {
		margin: -170px 80px 0 502px;
		order: 5;
	}
	.defence-item-6 {
		order: 6;
		margin: -170px 0 0 0px;
	}
	.defence-item.defence-item-4::after {
		left: 75px;
		bottom: 75px;
		transform: rotate(90deg);
	}
	.defence-item.defence-item-5::after {
		top: auto;
		right: -51px;
		bottom: 190px;
		transform: rotate(-45deg);
	}
	.defence::before {display: none;}
	.defence .btn {margin-top: 30px;}
	.work-item-img {height: 330px;}
}
@media(max-width: 1700px) {
	.questions-row {
		justify-content: space-around !important;
		max-width: 100% !important;
	}
	.form-text {max-width: 660px;}
	.questions-row-1 {margin-bottom: 150px;}
	.question-3 {max-width: 600px;}
	nav a {
		font-size: 13px;
		line-height: 13px;
	}
	header .btn {
		height: 45px;
		font-size: 14px;
		line-height: 35px;
	}
	.header-tel {margin-right: 15px;}
	.btn {padding: 0 15px;}
	.banner .flash-line {
		left: 100px;
	}
	.section-lines,
	.better::before,
	.form-section::before {display: none;}
	.contacts-cnt {padding: 0;}
	.blog-cnt {padding: 43px 20px 35px 20px;}
	.blog-title {padding-left: 20px;}
	.blog-slider, .blog-item {max-width: 650px;}
	.field,
	.custom-select {max-width: 300px;}
}
@media(max-width:1500px) {
	.banner {padding-top: 100px;}
	.benefits p {
		font-size: 14px;
		line-height: 18px;
	}
}
@media(max-width:1462px) {
	.defence-item-6 {margin: -170px 0 0 250px;}
	.defence-item.defence-item-5::after {
		top: auto;
		right: auto;
		left: 70px;
		bottom: 70px;
		transform: rotate(90deg);
	}
	.defence {background-position: top left -632px;}
	.work-item-img {height: 260px;}
}



@media(max-width: 1370px) {
	.defence-item-3 {margin-right: 0;}
	.packages-items {justify-content: space-around;}
	h1 {
		font-size: 50px;
		line-height: 60px;
	}
	.banner-cnt p {
		font-size: 30px;
		line-height: 40px;
	}
	.btn.btn-big {
		height: 60px;
		padding: 0 40px;
		font-size: 16px;
		line-height: 53px;
	}
	.banner .flash-line {
		left: 79px;
		top: -291px;
	}
	.form-text h5 {
		font-size: 21px;
		line-height: 28px;
	}
	.form-text p,
	.better-column li {
		font-size: 16px;
		line-height: 20px;
	}
	.form-text {
		max-width: 500px;
	}
	.info-section {
		padding: 50px 0 130px;
    	background-position: top -30px left -534px;
	}
	.info-section-cnt {
		max-width: 100%;
	}
	.info-section-cnt p:not(:last-child) {
		margin-bottom: 20px;
	}
	.better-column li:not(:last-child) {
		margin-bottom: 25px;
	}
	.better-img {
		max-width: 590px;
	}
	.better-list {padding-right: 0;}
	.better {padding-bottom: 80px;}
	.installer::before {display: none;}
	.reviews-slider {padding: 0 30px;}
	.rev-img {margin-right: 30px;}
	.title {
		font-size: 35px;
		line-height: 45px;
	}
	.work-name {
		height: 72px;
		font-size: 16px;
		line-height: 24px;
		-webkit-line-clamp: 3;
	}
	.work-cnt p {
		height: 36px;
		font-size: 16px;
		line-height: 18px;
	}
	.blog-title {
		font-size: 30px;
		line-height: 22px;
	}
	.blog-cnt p {
		font-size: 16px;
		line-height: 26px;
	}
	.service-item {height: 300px;}
	.service-item p {
		font-size: 22px;
		line-height: 32px;
	}
	.accordion-title {
		padding: 20px 0;
		font-size: 20px;
		line-height: 24px;
	}
	.accordion-cnt {
		padding: 20px 0;
		font-size: 16px;
		line-height: 24px;
	}

	.about {
		padding-top: 40px;
		align-items: flex-start;
	}

	.about-cnt p {
		font-size: 18px;
		line-height: 28px;
	}

	.questions-title {
		margin-bottom: 20px;
		font-size: 25px;
		line-height: 30px;
	}
	.question p {
		font-size: 14px;
		line-height: 19px
	}
	.question {
		padding: 40px 10px 20px;
		margin-bottom: 50px;
	}
	.questions-list {
		padding-bottom: 100px;
	}
	.contacts h4 {
		margin-bottom: 20px;
		padding-left: 20px;
		font-size: 30px;
		line-height: 30px;
	}
	.contacts-row {
		margin-bottom: 30px;
		padding-left: 20px;
		font-size: 18px;
		line-height: 18px;
	}
	.contacts-row::before {display: none;}
	.contacts .social {padding-left: 20px;}
	.defence-list {
		max-width: 920px;
		margin: 0 auto;
		justify-content: center;
	}

	.defence-item {order: initial !important;}
	.defence-item:nth-child(odd) {margin: 0 80px 0 0 !important;}
	.defence-item:nth-child(even) {margin: 0 0 0 0 !important;}


	.defence-item.defence-item-3,
	.defence-item.defence-item-4,
	.defence-item.defence-item-5,
	.defence-item.defence-item-6 {margin-top: -100px !important;}

	.defence-item::after {display: none;}

	.package-list li {
		font-size: 14px;
		line-height: 20px;
	}

	.rev-name {
		font-size: 30px;
		line-height: 36px;
	}

	.rev-cnt p {
		font-size: 16px;
		line-height: 26px;
	}

	header .logo {
		max-width: 110px;
		margin-right: 10px;
	}

	nav a:not(:last-child) {
		margin-right: 5px;
	}
	.header-tel {
		font-size: 15px;
		line-height: 15px;
	}

	.better-column br {display: none;}

	.better-column-1 li {max-width: 450px !important;}
	.better-column-2 li {max-width: 450px !important;}

	.recomendation-item-cnt p {
		font-size: 18px;
		line-height: 19px;
	}

	.recomendation-item-cnt {
		height: 160px;
		padding: 70px 5px 15px;
	}

	.form-section .wrapper,
	.question-form {
		flex-direction: column;
		align-items: center;
	}
	.form-text {
		max-width: 100% !important;
		padding:  0 0 30px;
	}
	
	.form-work form {
		justify-content: flex-start;
		max-width: 100%;
	}

	.blog-slider, .blog-item {
		max-width: 490px;
	}

}

@media(max-width: 1200px) {
	.field, .custom-select {
		max-width: 240px;
	}
	header .logo,
	.header-triggers {display: none;}

	header {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		width: 100%;
		height: 100vh;
		padding: 180px 20px 60px;
	}

	header .wrapper {padding: 0;}
	
	header nav {
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	header nav a {
		display: inline-block;
		margin: 0 0 20px !important;
		padding: 0 !important;
		text-align: center;
	}

	.header-mob {
		position: relative;
		z-index: 11;
		display: block;
	}
}
@media(max-width: 767px) {
    .package-title h5 {
        font-size: 40px;
        line-height: 40px;
    }
    .package-title p {
        font-size: 13px;
        line-height: 13px;
    }
    .package-list {
        padding: 30px 20px 40px;
        height:  auto;
    }
    .package-list li {
        padding-left: 30px;
        font-size: 14px;
        line-height: 18px;
    }
    .package-list li::before {top: 2px;}
    .package-price-old {
        font-size: 20px;
        line-height: 20px;
    }
    .package-price-new {
        font-size: 50px;
        line-height: 50px;
    }
}

@media(max-width: 767px) {
    .packages .wrapper {padding: 0 20px;}
}

